<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
			<string>com.apfelq.mosyle-notifications</string>
		<key>UserName</key>
			<string>YOURUSERNAME</string>
		<key>ProgramArguments</key>
			<array>
				<string>/bin/sh</string>
				<string>PATHTO/mosyle-notifications.sh</string>
			</array>
		<key>StartCalendarInterval</key>
			<dict>
				<key>Hour</key>
					<integer>RUNTIMEHRS</integer>
				<key>Minute</key>
					<integer>RUNTIMEMIN</integer>
			</dict>
		<key>AbandonProcessGroup</key>
			<true/>
	</dict>
</plist>
